h1 {
  color: #e3e3e3;
  font-family: "Special Elite", sans-serif;
  font-size: 85px;
}
body {
  background: #233142;
}

.Dictionary input {
  background-color: #233142;
  color: #e3e3e3;
  width: 85%;
}

form {
  width: 65%;
  background-color: #e3e3e3;
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
  box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.3);
}
button {
  background-color: #233142;
  color: #e3e3e3;
  margin: 5px;
}
